body{
background-image:url(media/planets.gif);
background-position: bottom;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
color: white;
text-align: center;
}

h1{
  font-style: italic;
  font-family: cursive;
  color: blue;
  text-align: center;
}

img{
  height: 100px;
  width: 100px;
}

footer{
  text-align: center;
}
